body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: $primary-text-color;
}

.cloak-wrapper {
    opacity: 1;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.cloak-wrapper.ng-cloak {
    display: block !important;
    opacity: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    opacity: 0 !important;
}

// DEV Specific Only
.code {
    display: block;
    margin: 0 0 70px;
    max-width: 100%;
    word-break: normal;
    overflow: auto;
    max-height: 250px;
    background: #efefef;
    padding: 15px;
    text-align: left;
}
