<!-- vendor.bundle -->
<script src="mock-backend/bundle/vendor.mockBundle.js"></script>

<!-- Attach all mock js files here -->
<script src="mock-backend/bundle/mockBundle.js"></script>
<script src="mock-backend/mock-backend-config.js"></script>
