<div class="demo">
    <div class="mgn-b boom">
        <span translate>demo.hello</span> {{demoCtrl.demoApiData.name}}!
        <button type="button" ng-click="demoCtrl.boomMethod()">{{'demo.boomMe'|translate}} <i class="fa fa-bomb"></i></button>
    </div>

    <form name="blahForm" class="mgn-b blah">
        <input type="text" ng-model="demoCtrl.toBlahOrNotToBlah" name="blah">
        <button type="button" ng-click="demoCtrl.blahMethod(demoCtrl.toBlahOrNotToBlah)">
            Blah this! <i class="fa fa-thumbs-up"></i></button>
    </form>

    <div class="pad-b">
        {{demoCtrl.beenBlahed}}
    </div>

    <pre class="code mgn-t">{{demoCtrl.demoApiData|json}}</pre>
</div>
